.footer {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  &__background {
    background-color: #626262;
  }
  &__heading {
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
    padding-top: 20px;
    margin-bottom: 5px;
    @media (max-width: 1199.98px) {
      font-size: 20px;
    }
    @media (max-width: 991.98px) {
      font-size: 16px;
    }
    @media (max-width: 575.98px) {
      font-size: 13px;
    }
  }
  &__item {
    font-weight: 400;
    font-size: 16px;
    @media (max-width: 1199.98px) {
      font-size: 15px;
    }
    @media (max-width: 991.98px) {
      font-size: 14px;
    }
    @media (max-width: 575.98px) {
      font-size: 12px;
    }
  }
  &__paragraph p {
    padding: 0;
    margin: 0 0 10px 0;
    @media (max-width: 1199.98px) {
      font-size: 15px;
    }
    @media (max-width: 991.98px) {
      font-size: 14px;
    }
    @media (max-width: 575.98px) {
      font-size: 12px;
    }
  }
  &__address {
    @media (max-width: 1199.98px) {
      font-size: 15px;
    }
    @media (max-width: 991.98px) {
      font-size: 14px;
    }
    @media (max-width: 575.98px) {
      font-size: 12px;
    }
    & p {
      margin: 0;
    }
  }
  .copyright {
    &__background {
      background-color: #8bc53b;
    }
    &__text {
      padding: 8px 0;
      & p {
        margin: 0;
        padding: 0;
        @media (max-width: 1199.98px) {
          font-size: 15px;
        }
        @media (max-width: 991.98px) {
          font-size: 14px;
        }
        @media (max-width: 575.98px) {
          font-size: 12px;
        }
      }
    }
  }
  &__space {
    padding-bottom: 15px;
  }
  .newsletter {
    font-style: italic;
    font-weight: 400;
    color: #c6c6c6;
    font-size: 14px;
    &__border {
      border: 0;
      border-top: 1px solid #8bc53b;
      border-bottom: 1px solid #8bc53b;
      border-left: 1px solid #8bc53b;
      border-radius: 5px;
    }
    &__input {
      box-sizing: border-box;
      width: 100%;
      height: 30px;
      margin: 0;
      padding: 10px;
      position: relative;
      z-index: 1;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .social {
    text-align: right;
    margin: 10px 0 0 0;
    padding: 0;
    & a {
      vertical-align: middle;
      margin-right: 15px;
      &:last-of-type {
        margin-right: 2px;
      }
      @media (max-width: 575.98px) {
        margin-right: 20px;
        &:first-of-type {
          margin-left: 10px;
        }
      }
    }
  }
  &__block div {
    line-height: 1.84;
    @media (max-width: 575.98px) {
      line-height: 1.3;
    }
  }
}
.form {
  &__group {
    display: inline-block;
    width: 99%;
  }
}
.btn {
  &__submit {
    box-sizing: border-box;
    height: 31px;
    border: 0;
    border-right: 1px solid #8bc53b;
    border-top: 1px solid #8bc53b;
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: #626262;
    vertical-align: top;
    margin-left: -40px;
    padding: 0 10px;
    position: relative;
    z-index: 2;
  }
}
.no-space {
  white-space: nowrap;
}
