.header {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  &__background {
    background-color: #626262;
    height: 44px;
  }
  &__icons {
    height: 44px;
    @media (max-width: 991.98px) {
      margin-right: -50px;
    }
    @media (max-width: 575.98px) {
      margin-right: 0;
      white-space: nowrap;
    }
    .account {
      &__button {
        border: none;
        background-image: linear-gradient(to top, #8acdc4 0%, #8cc73e 100%);
        border-radius: 5px;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        padding: 6px 10px;
        letter-spacing: 1px;
        margin-left: -15px;
        @media (max-width: 991.98px) {
          margin-left: 10px;
        }
      }
      &__cart {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 1.5px;
        vertical-align: baseline;
      }
    }
  }
  .contact {
    color: black;
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
    @media (max-width: 767.98px) {
      padding: 15px 0;
    }
    @media (max-width: 575.98px) {
      padding: 10px 0;
      text-align: center;
    }
    &__image {
      margin: 5px 10px;
      @media (max-width: 991.98px) {
        margin: 10px;
      }
    }
    &__content {
      flex: 1;
      font-size: 26px;
      font-weight: 400;
      color: #616161;
      & p {
        margin: 0;
        padding: 0;
      }
    }
    &__paragraph {
      @media (max-width: 1199.98px) {
        word-spacing: -3px;
      }
      @media (max-width: 991.98px) {
        font-size: 16px;
        word-spacing: 1px;
      }
    }
    &__phone {
      font-family: 'Covered By Your Grace', cursive;
      font-size: 27px;
      font-weight: 700;
      letter-spacing: 1px;
      & a {
        color: #8dc73f;
        @media (max-width: 767.98px) {
          font-size: 18px;
        }
        @media (max-width: 575.98px) {
          font-size: 23px;
        }
      }
      @media (max-width: 991.98px) {
        font-size: 22px;
      }
    }
    &__schedule {
      font-size: 12px;
      font-weight: 400;
      color: #616161;
      letter-spacing: 1.6px;
      @media (max-width: 1199.98px) {
        letter-spacing: 1.2px;
      }
      @media (max-width: 991.98px) {
        font-size: 10px;
        letter-spacing: 0.7px;
      }
      @media (max-width: 767.98px) {
        font-size: 10px;
        letter-spacing: 0.15px;
      }
    }
  }
  .menu {
    @media (max-width: 767.98px) {
      display: none;
    }
    &__background {
      background-color: #e6e7e8;
    }
    &__list {
      list-style: none;
      color: #4f4e4e;
      font-weight: 500;
      font-size: 18px;
      padding: 20px 0;
      @media (max-width: 1199.98px) {
        font-size: 17px;
      }
      @media (max-width: 991.98px) {
        font-size: 13px;
      }
    }
  }
  &__hamburger {
    @media (min-width: 767.98px) {
      display: none;
    }
  }
}
